@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
}

@layer base {
  button {
    @apply border py-2 px-3 rounded-full
  }

  h1 {
    @apply font-bold text-xl md:text-2xl lg:text-3xl
  }
}

.slide-in-bottom {
  transform: translateX(0);
  opacity: 100;
}