@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  background-color: gray;
}

@layer base {
  button {
    @apply border py-2 px-3 rounded-full
  }

  h1 {
    @apply font-bold text-xl md:text-2xl lg:text-3xl
  }
}

.slide-in-bottom {
  transform: translateX(0);
  opacity: 100;
}